.banner {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-top: 1rem;
}
