.banner {
  width: 100%;
  height: 300px; // tu peux enlever si tu la mets inline, mais c'est bien d'en garder une
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
