.footer {
  background: #585757;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: white;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
  padding: 0 10px;
  transition: opacity 0.2s ease;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}
